<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>게시물 작성하기</h2></br>
    <a href="/create/write"><input type="button" value="작성하기"></a> 
    <a href="/"><input type="button" value="홈으로"></a>
</body>
</html>